<table class="dijit dijitReset dijitInline dijitLeft"
	cellspacing='0' cellpadding='0' role="presentation"
	><tbody role="presentation"><tr role="presentation"
		><td class="dijitReset dijitStretch dijitButtonNode" data-dojo-attach-point="buttonNode" data-dojo-attach-event="ondijitclick:__onClick,onkeydown:_onButtonKeyDown"
		><div id="com.orange.clara.cloud.dbaas:cloud-orange-dbaas-admin-gui:war:1.9-SNAPSHOT_button" class="dijitReset dijitButtonContents"
			data-dojo-attach-point="titleNode"
			role="button" aria-labelledby="com.orange.clara.cloud.dbaas:cloud-orange-dbaas-admin-gui:war:1.9-SNAPSHOT_label"
			><div class="dijitReset dijitInline dijitIcon" data-dojo-attach-point="iconNode" role="presentation"></div
			><div class="dijitReset dijitInline dijitButtonText" id="com.orange.clara.cloud.dbaas:cloud-orange-dbaas-admin-gui:war:1.9-SNAPSHOT_label" data-dojo-attach-point="containerNode" role="presentation"></div
		></div
		></td
		><td id="com.orange.clara.cloud.dbaas:cloud-orange-dbaas-admin-gui:war:1.9-SNAPSHOT_arrow" class='dijitReset dijitRight dijitButtonNode dijitArrowButton'
			data-dojo-attach-point="_popupStateNode,focusNode,_buttonNode"
			data-dojo-attach-event="onkeydown:_onArrowKeyDown"
			title="${optionsTitle}"
			role="button" aria-haspopup="true"
			><div class="dijitReset dijitArrowButtonInner" role="presentation"></div
			><div class="dijitReset dijitArrowButtonChar" role="presentation">&#9660;</div
		></td
		><td style="display:none !important;"
			><input ${!nameAttrSetting} type="${type}" value="${value}" data-dojo-attach-point="valueNode"
				role="presentation" aria-hidden="true"
				data-dojo-attach-event="onclick:_onClick"
		/></td></tr></tbody
></table>
