<div class="dijitProgressBar dijitProgressBarEmpty" role="progressbar"
	><div  data-dojo-attach-point="internalProgress" class="dijitProgressBarFull"
		><div class="dijitProgressBarTile" role="presentation"></div
		><span style="visibility:hidden">&#160;</span
	></div
	><div data-dojo-attach-point="labelNode" class="dijitProgressBarLabel" id="com.orange.clara.cloud.dbaas:cloud-orange-dbaas-admin-gui:war:1.9-SNAPSHOT_label"></div
	><span data-dojo-attach-point="indeterminateHighContrastImage"
		   class="dijitInline dijitProgressBarIndeterminateHighContrastImage"></span
></div>
